@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    padding: 0;
    margin:0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background:  #B5C6B4;
    font-family: 'Unna', serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 91%;
    max-width: 680px;
    margin: 10px;
    padding: 50px 0px 100px 0px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-container img {
    width: 150px;
    border-radius: 50%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    color:black;
}

.link-item {
    width: 85%;
    height: 56px;
    margin: 16px;
    border-radius: 20px;

    color:black;
    text-decoration: none;
    background-color:whitesmoke;

    display: flex;
    justify-content: space-between;
}

.icon {
    margin: 3px 8px;
    width: 44px;
    height: 44px;
}

.link-item p {
    margin-right: 60px;
}

.link-item:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2;
    transform: scale(1.02);

    background-color:whitesmoke;
}